*.png
*.jpg
*.xlsx
*.csv
*.pyc
*.pdf
*.ico
*.docx
api_config_vars.py
api_config_vars_resin.py
*.toc
*.zip
*.pyz
*.pkg
*.manifest
*.html
*.lnk
*.exe
ID_Tracking/IDApp/build/main/warn-main.txt
ID_Tracking/accesstokenlist_test.py
*.spec
